﻿<h3>List of State 2 Things</h3>
<ul>
    <li ng-repeat="thing in things">{{ thing }}</li>
</ul>

<iframe id="frame1" src="./web_messaging_cross_document_messaging_iframe.htm"></iframe>
<a href="sms:8102544987?body=hello">Tap to say hello!</a>
<a href="sms://8102544987?body=hey pankaj">testing</a>
