﻿<md-dialog aria-label="Cart" class="text-center cart_page">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Cart</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="fa fa-close"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="cart text-center">
            <div class="col-md-12 text-center empty_cart" ng-show="!cartItems || cartItems.length==0">
                <img src="/images/emptycart.png" width="100" height="100" />
                <p>Your Shoping Cart Is Empty</p>
            </div>
            <div ng-show="cartItems.length > 0">
                <h3>Your Order</h3>
                <p>{{deliveryAddress.address1}} {{deliveryAddress.address2}} {{deliveryAddress.City}} {{deliveryAddress.StateCode}}  {{deliveryAddress.County}} {{deliveryAddress.PostalCode}}</p>
                <!--<p ng-click="showEditAddress=true" ng-hide="showEditAddress">{{deliveryAddress.address1}} {{deliveryAddress.address2}} {{deliveryAddress.City}} {{deliveryAddress.StateCode}}  {{deliveryAddress.County}} {{deliveryAddress.PostalCode}}</p>-->                
                <!--<input ng-show="showEditAddress" type="text" ng-model="deliveryAddress" class="form-control w-40" />
                <a class="btn btn-danger min-w-40" ng-show="showEditAddress" ng-click="updateDeliveryAddress();showEditAddress=false"><i class="glyphicon glyphicon-remove"></i></a>
              <md-button class="md-raised md-warn md-button w-xsm" ng-show="showEditAddress">
                <i class="fa fa-shopping-cart"></i>Update
              </md-button>-->
                <div class="row m-n">
                    <div class="col-sm-12">
                        <md-button class="btn btn-danger min-w"
                                   ng-click="clearItems()"
                                   ng-disabled="cartItems.length < 1">
                            <i class="icon-trash icon-white" /> Clear Cart
                        </md-button>
                        <md-button class="btn btn-primary min-w"
                                   ng-click="checkout(Id)"
                                   ng-disabled="cartItems.length < 1">
                            <i class="icon-ok icon-white" /> Check Out
                        </md-button>

                    </div>
                </div>
                <ul class="add_to_cart clearfix">
                    <li class="clearfix" ng-repeat="item in cartItems">
                        <h2>Sandwiches</h2>
                        <div class="item_info">
                            <span class="item_quantity">{{item.Quantity}}</span>
                            <div class="item_detail">
                                <span>{{item.Name}}</span>
                            </div>
                            <a class="cursor-pointer" ng-click="removeItem(item)"><span class="glyphicon glyphicon-remove"></span></a>
                            <a class="cursor-pointer" ng-click="editItem($event,item)"><span class="glyphicon glyphicon-edit"></span></a>
                            <span class="m-l-sm">{{item.Price * item.Quantity | currency}}</span>
                        </div>
                    </li>
                </ul>
                <div class="sub_totel clearfix">
                    <ul>
                        <li class="col-md-3"><p>Subtotal</p><p>{{charge.ItemSubTotal | currency}}</p></li>
                        <li class="col-md-3" ng-if="charge.DeliveryFee"><p>Delivery Fee</p><p>{{charge.DeliveryFee | currency}}</p></li>
                        <li class="col-md-3" ng-if="charge.SalesTax"><p>Sales Tax</p><p>{{charge.SalesTax | currency}}</p></li>
                        <li class="col-md-3"><p class="font-bold">Total</p><p class="font-bold">{{charge.Total | currency}}</p></li>
                    </ul>
                    <!--<div class="col-sm-12" style="padding:5px">
                        <h4 class="left">Subtotal</h4>
                        <span class="right">{{charge.ItemSubTotal | currency}}</span>
                    </div>
                    <div class="col-sm-12" style="padding:5px">
                        <h4 class="left">Delivery Fee</h4>
                        <span class="right">{{charge.DeliveryFee.Value | currency}}</span>
                    </div>
                    <div class="col-sm-12" style="padding:5px" ng-show="charge.Tax.Value">
                        <h4 class="left">{{charge.Tax.Name}}</h4>
                        <span class="right">{{charge.Tax.Value | currency}}</span>
                    </div>
                    <div class="col-sm-12" style="padding:5px">
                        <h4 class="left">Total</h4>
                        <span class="right">{{charge.Total | currency}}</span>
                    </div>-->
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>

<!--<md-dialog aria-label="Cart" class="text-center">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span8">
                <table class="table table-bordered">
                    <tr class="well">
                        <td><b>Item</b></td>
                        <td class="tdCenter"><b>Quantity</b></td>
                        <td class="tdRight"><b>Price</b></td>
                        <td />
                    </tr>
                    <tr ng-hide="cartItems.length > 0">
                        <td class="tdCenter" colspan="4">
                            Your cart is empty.
                        </td>
                    </tr>
                    <tr ng-repeat="item in cartItems">
                        <td>{{item.Name}}</td>
                        <td class="tdCenter">
                            <div class="input-append">
                                <input class="span3 text-center" type="tel"
                                       ng-model="item.Quantity"
                                       ng-change="cart.saveItems()" />
                                <button class="btn btn-success" type="button"
                                        ng-disabled="item.quantity >= 1000"
                                        ng-click="cart.addItem(item.sku, item.name, item.price, +1)">
                                    +
                                </button>
                                <button class="btn btn-inverse" type="button"
                                        ng-disabled="item.Quantity <= 1"
                                        ng-click="cart.addItem(item.sku, item.name, item.price, -1)">
                                    -
                                </button>
                            </div>
                        </td>
                        <td class="tdRight">{{item.Price * item.Quantity | currency}}</td>
                        <td class="tdCenter" title="remove from cart">
                            <a href="" ng-click="cart.addItem(item.sku, item.name, item.price, -10000000)">
                                <i class="icon-remove" />
                            </a>
                        </td>
                    </tr>
                    <tr class="well">
                        <td><b>Total</b></td>
                        <td class="tdCenter"><b>{{cart.getTotalCount()}}</b></td>
                        <td class="tdRight"><b>{{cart.getTotalPrice() | currency}}</b></td>
                        <td />
                    </tr>
                </table>
            </div>
            <div class="span4">
                <p class="text-info">
                    <button class="btn btn-block"
                            onclick="window.location.href='default.htm'">
                        <i class="icon-chevron-left" /> back to store
                    </button>
                    <button class="btn btn-block btn-danger"
                            ng-click="cart.clearItems()"
                            ng-disabled="cartItems.length < 1">
                        <i class="icon-trash icon-white" /> clear cart
                    </button>
                </p>
                <br /><br />
                <p class="text-info">
                    <button class="btn btn-block btn-primary"
                            ng-click="cart.checkout('Stripe')"
                            ng-disabled="cartItems.length < 1">
                        <i class="icon-ok icon-white" /> check out using Stripe
                    </button>
                </p>

            </div>
        </div>
    </div>
</md-dialog>-->
<!--<table class="table">
    <thead ng-if="cartItems.length!=0">
        <tr>
            <th>Product</th>
            <th class="text-left">Quantity</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <thead>
        <tr ng-repeat="item in cartItems">
            <td>
                <img src="/images/Slider/sld3.jpg" class="avatar">
                <h3 class="tittle">{{item.Name}}</h3>
            </td>
            <td>
                <h3 class="tittle">{{item.Quantity}}</h3>
                <span class="quantity">
                    <input type="number" class="form-control" style="min-width: 60px;" ng-model="item.Quantity"
                           ng-change="cart.saveItems()" />
                </span>
            </td>
            <td>{{item.Price * item.Quantity | currency}}</td>
            <td>
                <a class="btn btn-sm btn-danger m-t-none" style="width:30px" ng-click="removeItem(item)">
                    <i class="fa fa-trash"></i>
                </a>
                <a class="btn btn-sm btn-primary m-t-none" style="width:30px" ng-click="editItem($event,item)">
                    <i class="fa fa-edit" style="color:#fff;"></i>
                </a>
            </td>
        </tr>

        <tr>
            <td class="text-left p-l-md"><b>Delivery Address</b></td>
            <td></td>
            <td class="tdRight">
                <a ng-click="showEditAddress=true" ng-hide="showEditAddress">{{deliveryAddress}}</a>
                <input ng-show="showEditAddress" type="text" ng-model="deliveryAddress" class="form-control" style="width:75%; display:inline-block;-webkit-transition: none;transition: none;" />
                <span ng-show="showEditAddress" ng-click="updateDeliveryAddress();showEditAddress=false">cancel</span>
            </td>
            <td />
        </tr>
        <tr>
            <td class="text-left p-l-md"><b>Items Subtotal</b></td>
            <td></td>
            <td class="tdRight"><b>{{charge.ItemSubTotal | currency}}</b></td>
            <td />
        </tr>
        <tr>
            <td class="text-left p-l-md"><b>Delivery Fee</b></td>
            <td></td>
            <td class="tdRight"><b>{{charge.DeliveryFee.Value | currency}}</b></td>
            <td />
        </tr>
        <tr ng-show="charge.Tax.Value">
            <td class="text-left p-l-md"><b>{{charge.Tax.Name}}</b></td>
            <td></td>
            <td class="tdRight"><b>{{charge.Tax.Value | currency}}</b></td>
            <td />
        </tr>
        <tr>
            <td class="text-left p-l-md"><b>Total</b></td>
            <td class="tdCenter text-left" style="padding-left:28px"><b></b></td>
            <td class="tdRight"><b>{{charge.Total | currency}}</b></td>
            <td />
        </tr>
    </thead>
</table>
<div class="col-sm-12 p-b-sm">
    <md-button class="btn btn-danger m-t-none col-sm-3" style="background:#7c7c7c;"
               ng-click="clearItems()"
               ng-disabled="cartItems.length < 1"><i class="icon-trash icon-white" />clear cart</md-button>
    <md-button class="btn md-warn  md-raised col-sm-3 m-t-none m-l-none right" style="min-width:230px; background:#cb202d;"
               ng-click="checkout('Stripe')"
               ng-disabled="cartItems.length < 1"><i class="icon-ok icon-white" />check out using Stripe</md-button>
</div>-->
