﻿<md-dialog aria-label="Cart">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Food Item</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <i class="fa fa-close f-20"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <md-content layout-padding>
            <form class="form-horizontal" name="update">

                <fieldset class="m-b-md">
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="hidden" ng-model="Id" />
                            <div>
                                <label class="control-label col-sm-8 text-left">Food Name :  {{item.Name}}</label>
                            </div>
                            <div>
                                <label class="control-label col-sm-8 text-left">Price :  {{item.Price | currency}}</label>
                            </div>
                            
                            <div>
                                <label class="control-label col-sm-5 text-left">Quantity :</label>
                                <div class="col-md-4">
                                    <input id="item-qty" type="number" name="firstName" class="form-control input-md" ng-model="item.Quantity" min="1" max="99" ng-pattern="/^[0-9]{1,2}$/" ng-change="changeQuantity(item)" />
                                </div>
                            </div>
                        </div>                        
                    </div>
                
                </fieldset>
                <md-button class="md-raised md-warn md-button md_bottom" ng-click="updateItem(update.$valid)"><i class="fa fa-shopping-cart shoping_icon"></i>Update Cart</md-button>
                <md-button class="md-raised md-warn md-button md_bottom cancel_btn" ng-click="cancel()">cancel</md-button>
            </form>
        </md-content>
    </md-dialog-content>

</md-dialog>
