﻿<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="inner-box category-content clearfix change-password">
                <h2 class="title-2">Change your password</h2>
            <div class="col-md-6 col-md-offset-3 clearfix change_password">
                <form name="form" ng-submit="updatePwd()" role="form">
                    <md-input-container class="form-group md-block required" ng-class="{ 'has-error': form.currentPassword.$dirty && form.currentPassword.$error.required }">
                        <label for="currentPassword">Current Password</label>
                        <input type="password" name="currentPassword" id="currentPassword" class="form-control" ng-model="user.currentPassword" required />
                        <span ng-show="form.currentPassword.$dirty && form.currentPassword.$error.required" class="help-block">Current Password is required</span>
                    </md-input-container>
                    <md-input-container class="form-group md-block required" ng-class="{ 'has-error': form.newPassword.$dirty && form.newPassword.$error.required }">
                        <label for="newPassword">New Password</label>
                        <input type="password" name="newPassword" id="newPassword" class="form-control" ng-model="user.newPassword" required />
                        <span ng-show="form.newPassword.$dirty && form.newPassword.$error.required" class="help-block">New Password is required</span>
                    </md-input-container>
                    <md-input-container class="form-group md-block required" ng-class="{ 'has-error': form.confirmNewPassword.$dirty && form.confirmNewPassword.$error.required }">
                        <label for="confirmNewPassword">Confirm New Password</label>
                        <input type="password" name="confirmNewPassword" id="confirmNewPassword" class="form-control" ng-model="user.confirmNewPassword" required />
                        <span ng-show="form.confirmNewPassword.$dirty && form.confirmNewPassword.$error.required" class="help-block">Confirm NewPassword is required</span>
                    </md-input-container>
                    <div class="form-actions">
                        <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-danger">Update Password</button>
                        <a href="#/" class="btn btn-link">Cancel</a>
                    </div>
                </form>
                <ul>
                    <li ng-repeat="e in errors">{{e}}</li>
                </ul>
                <p ng-show="isUpdated">{{response}}</p>
            </div>
        </div>
    </div>
</div>
</div>