﻿<!--<form name="checkoutForm">-->
    <div ui-view></div>
<!--</form>-->

<!--<section class="checkout">
    <div class="container">
        <div class="inner-box">
            <div class="row">
                <div class="col-md-12"><h2 class="title-2">CHECKOUT</h2></div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="account_detail clearfix">
                        <form>
                            <h2 class="tittle_1">Account Detail</h2>
                            <md-input-container class="md-block col-md-6" style="margin-top:30px;">
                                <label class="select_item_qt">Name</label>
                                <div class="col-md-12">
                                    <input type="text" name="Name" class="form-control input-md" required />
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block col-md-6" style="margin-top:30px;">
                                <label class="select_item_qt">Email</label>
                                <div class="col-md-12">
                                    <input type="text" name="email" class="form-control input-md" required />
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block col-md-6">
                                <label class="select_item_qt">Mobile No.</label>
                                <div class="col-md-12">
                                    <input type="text" name="mobile" class="form-control input-md" required />
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block col-md-6">
                                <label class="select_item_qt">Zip Code</label>
                                <div class="col-md-12">
                                    <input type="text" name="zipCode" class="form-control input-md" required />
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block col-md-6">
                                <label class="select_item_qt">State</label>
                                <div class="col-md-12">
                                    <md-select ng-model="user.state">
                                        <md-option>
                                            Rajasthan
                                        </md-option>
                                        <md-option>
                                            Maharashtra
                                        </md-option>
                                        <md-option>
                                            Panjab
                                        </md-option>
                                    </md-select>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block col-md-6">
                                <label class="select_item_qt">City</label>
                                <div class="col-md-12">
                                    <md-select ng-model="user.city">
                                        <md-option>
                                            Jaipur
                                        </md-option>
                                        <md-option>
                                            Udaipur
                                        </md-option>
                                        <md-option>
                                            Mumbai
                                        </md-option>
                                    </md-select>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block col-md-12">
                                <label class="select_item_qt">Address</label>
                                <div class="col-md-12">
                                    <textarea ng-model="Address" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                                </div>
                            </md-input-container>
                        </form>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="order_detail">
                        <h2 class="tittle_1">Order Summary</h2>
                        <ul class="order_head clearfix">
                            <li class="col-md-3">Product</li>
                            <li class="col-md-3">Quantity</li>
                            <li class="col-md-3">Price</li>
                            <li class="col-md-3">Total</li>
                        </ul>
                        <ul class="order_content clearfix">
                            <li class="col-md-3"><a href="#"><img src="/images/Slider/sld3.jpg" /></a></li>
                            <li class="col-md-3">1</li>
                            <li class="col-md-3">RS 800.0</li>
                            <li class="col-md-3">RS 800.0</li>
                        </ul>
                        <ul class="order-content clearfix col-md-6">
                            <li class="col-md-6">Delivery</li>
                            <li class="col-md-6">2 Hours</li>
                        </ul>
                        <ul class="order-content clearfix col-md-6">
                            <li class="col-md-6">Item Total</li>
                            <li class="col-md-6">RS 1000.00</li>
                        </ul>
                        <ul class="order-content clearfix col-md-6">
                            <li class="col-md-6">Shipping</li>
                            <li class="col-md-6">Free</li>
                        </ul>
                        <ul class="order_total clearfix">
                            <li class="col-md-6">Total</li>
                            <li class="col-md-6 text-right">RS 1000.00</li>
                        </ul>
                    </div>
                    <md-button class="md-raised md-warn md-button checkout_button right">Place Order<i class="fa fa-arrow-right"></i></md-button>
                </div>
            </div>
        </div>
    </div>
</section>-->
