﻿
<section class="checkout">
    <div class="inner-box">
        <div class="row">
            <div class="col-md-8">
                <h2 class="list-title"><strong>Delivery Address</strong></h2>
                <div class="account_detail clearfix">
                    <form name="address" role="form">
                        <md-input-container class="md-block col-md-12" ng-class="{ 'has-error': address.addressLine1.$dirty && address.addressLine1.$error.required }">
                            <label class="select_item_qt">Address 1</label>
                            <div class="col-md-12 p-l-none">
                                <input type="text" name="addressLine1" id="addressLine1" class="input-md" ng-model="contact.Address1" required />
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block col-md-12" ng-class="{ 'has-error': address.addressLine2.$dirty && address.addressLine2.$error.required }">
                            <label class="select_item_qt">Address 2</label>
                            <div class="col-md-12 p-l-none">
                                <input type="text" name="addressLine2" id="addressLine2" class="input-md" ng-model="contact.Address2" />
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block col-md-6" ng-class="{ 'has-error': address.city.$dirty && address.city.$error.required }">
                            <label class="select_item_qt">City</label>
                            <div class="col-md-12 p-l-none">
                                <input type="text" name="city" id="city" class="input-md" ng-model="contact.City" required />
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block col-md-6" ng-class="{ 'has-error': address.state.$dirty && address.state.$error.required }">
                            <label class="select_item_qt">State</label>
                            <div class="col-md-12 p-l-none">
                                <md-select ng-model="contact.StateCode">
                                    <md-option ng-value="state.k" ng-repeat="state in states.options">{{ state.v }}</md-option>
                                </md-select>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block col-md-6" ng-class="{ 'has-error': address.zip.$dirty && address.zip.$error.required }">
                            <label class="select_item_qt">Zip Code</label>
                            <div class="col-md-12 p-l-none">
                                <input name="contact.zip" class="input-md" ng-model="contact.PostalCode"
                                       required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block col-md-6" ng-class="{ 'has-error': address.PhoneNumber.$dirty && address.PhoneNumber.$error.required }">
                            <label class="select_item_qt">Phone Number</label>
                            <div class="col-md-12 p-l-none">
                                <input name="address.PhoneNumber" class="input-md" ng-model="contact.PhoneNumber" ng-pattern="/^[0-9]/" required>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block col-md-12 col-xs-12">
                            <md-checkbox ng-model="contact.IsPreferred" class="col-md-6 col-xs-12">Make this preferred address</md-checkbox>
                            <div class="form-actions col-md-6 col-xs-12">
                                <button type="button" ng-disabled="address.$invalid " class="btn btn-primary" ng-click="submitAddress(address.$valid,'add')">Confirm Address</button>
                                <a ui-sref="app.home" class="cursor-pointer btn btn-danger">Cancel</a>
                            </div>
                        </md-input-container>
                    </form>
                </div>
            </div>
            <div ui-view="orderView"></div>
            <!--<div class="col-md-6">
                <div class="module">
                    <table class="s-tag-table">
                        <tbody>
                            <tr>
                                <td colspan="1" rowspan="1"><p style="width:100px">IsPreferred</p></td>
                                <td colspan="1" rowspan="1"><p>Address</p></td>
                            <tr ng-repeat="item in deliveryAddress">
                                <td colspan="1" rowspan="1"><md-checkbox class="green" ng-model="item.IsPreferred" ng-click="open()"></md-checkbox></td>
                                <td colspan="1" rowspan="1"><p>{{item.Address1}} {{item.Address2}} {{item.Address3}} {{item.City}} {{item.StateCode}} {{item.PostalCode}}</p></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>-->
        </div>
    </div>
</section>
<ul>
    <li ng-repeat="e in errors">{{e}}</li>
</ul>
<p ng-show="isUpdated">{{response}}</p>

