﻿<!--<div ui-view="searchView"></div>-->
<div id="wrapper">
    <div class="main-container" style="padding:30px;">
        <div class="row">
            <div class="col-md-3 page-sidebar mobile-filter-sidebar">
                <aside>
                    <div class="inner-box">
                        <div class="list-filter">
                            <h5 class="list-title"><strong><a href="#">Price Range</a></strong></h5>
                            <div class="filter-salary filter-content ">
                                <form role="form" class="form-inline ">
                                    <div class="form-group col-sm-4 no-padding">
                                        <input type="text" placeholder="$ 2000 " id="minPrice" class="form-control">
                                    </div>
                                    <div class="form-group col-sm-1 no-padding text-center hidden-xs"> -</div>
                                    <div class="form-group col-sm-4 no-padding">
                                        <input type="text" placeholder="$ 3000 " id="maxPrice" class="form-control">
                                    </div>
                                    <div class="form-group col-sm-3 no-padding">
                                        <md-button class="md-raised md-primary min-w-70" style="margin-top:2px;background:#00E676;">GO</md-button>
                                    </div>
                                </form>
                                <div class="clearfix"></div>
                                <ul class="mt15">
                                    <md-radio-group ng-model="data.group1">
                                        <md-radio-button value="0">$20,000+</md-radio-button>
                                        <md-radio-button value="1"> $40,000+ </md-radio-button>
                                        <md-radio-button value="2">$60,000+</md-radio-button>
                                        <md-radio-button value="3">$80,000+</md-radio-button>
                                        <md-radio-button value="4">$120,000+</md-radio-button>
                                    </md-radio-group>
                                </ul>
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div class="list-filter">
                            <h5 class="list-title"><strong><a href="#">Food</a></strong></h5>
                            <div class="filter-content filter-employment-type">
                                <ul class="browse-list list-unstyled">
                                    <li>
                                        <md-checkbox class="green">Noodles</md-checkbox>
                                    </li>
                                    <li>
                                        <md-checkbox class="green">Chicken</md-checkbox>
                                    </li>
                                    <li>
                                        <md-checkbox class="green">Rice</md-checkbox>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="locations-list  list-filter">
                            <h5 class="list-title"><strong><a href="#">Category</a></strong></h5>
                            <ul class="browse-list list-unstyled long-list">
                                <li><a href="job-list.html">Fast Food</a></li>
                                <li><a href="job-list.html">Restaurant</a></li>
                            </ul>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                </aside>
            </div>
            <div class="col-md-9 page-content col-thin-left">
                <div class="category-list">
                    <div class="tab-box clearfix ">
                        <div class="col-lg-12  box-title no-border">
                        </div>
                        <div class="mobile-filter-bar col-lg-12  ">
                            <ul class="list-unstyled list-inline no-margin no-padding">
                                <li class="filter-toggle">
                                    <a class="">
                                        <i class=" icon-th-list"></i>
                                        Filters
                                    </a>
                                </li>
                                <li>
                                    <div class="dropdown">
                                        <a data-toggle="dropdown" class="dropdown-toggle">
                                            <i class="caret "></i>
                                            Short by
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#" rel="nofollow">Relevance</a></li>
                                            <li><a href="#" rel="nofollow">Date</a></li>
                                            <li><a href="#" rel="nofollow">Company</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="menu-overly-mask"></div>
                        <div class="tab-filter hide-xs">
                        </div>
                    </div>
                    <div class="listing-filter hidden-xs">
                        <md-input-container class="pull-right">
                            <md-select ng-model="size">
                                <md-option value="Short by" selected>Short by</md-option>
                                <md-option value="Relevance">Relevance</md-option>
                                <md-option value="Company">Company</md-option>
                            </md-select>
                        </md-input-container>

                        <div style="clear:both"></div>
                    </div>

                    <div class="inner-box relative">
                        <!-- <h2 class="title-2"> Featured Listings <a id="nextItem" class="link  pull-right carousel-nav"> <i class="icon-right-open-big"></i></a> <a id="prevItem" class="link pull-right carousel-nav"> <i class="icon-left-open-big"></i> </a> </h2>
                          <div class="row">
                            <div class="col-lg-12">
                        <div class="no-margin item-carousel owl-carousel owl-theme inner-container" id="inner-container">
                                  <article>
                                    <div class="item" style="width:160px;"><a class="res-1" onClick="showResDetail(this)"> <span class="item-carousel-thumb" style="height:160px;"> <img class="img-responsive" src="images/Slider/res-icon.png" alt="img"> </span> <span class="item-name"> 2011 Mercedes-Benz SLS AMG </span> <span class="price"> $204,990 </span><i class="fa fa-chevron-down"></i></a> </div>
                                  </article>
                                  <article>
                                    <div class="item" style="width:160px;"><a  class="res-2" onClick="showResDetail(this)"> <span class="item-carousel-thumb" style="height:160px;"> <img class="item-img" src="images/Slider/sld 1.jpg" alt="img"> </span> <span class="item-name"> consectetuer adipiscing elit </span> <span class="price"> $ 240 </span><i class="fa fa-chevron-down"></i></a></div>
                                  </article>
                                  <article>
                                    <div class="item" style="width:160px;"><a class="res-3" onClick="showResDetail(this)"> <span class="item-carousel-thumb" style="height:160px;"> <img class="item-img" src="images/Slider/sld7.jpg" alt="img"></span><span class="item-name"> sed diam nonummy </span> <span class="price"> $ 140</span><i class="fa fa-chevron-down"></i></a></div>
                                  </article>
                                  <article>
                                    <div class="item" style="width:160px;"><a> <span class="item-carousel-thumb" style="height:160px;"> <img class="item-img" src="images/Slider/sld6.jpg" alt="img"></span><span class="item-name">feugiat nulla facilisis </span> <span class="price"> $ 140</span><i class="fa fa-chevron-down"></i></a></div>
                                  </article>
                                  <article>
                                    <div class="item" style="width:160px;"><a> <span class="item-carousel-thumb" style="height:160px;"> <img class="item-img" src="images/Slider/sld4.jpg" alt="img"></span><span class="item-name"> praesent luptatum zzril </span> <span class="price"> $ 220 </span><i class="fa fa-chevron-down"></i></a></div>
                                  </article>
                                  <article>
                                    <div class="item" style="width:160px;"><a> <span class="item-carousel-thumb" style="height:160px;"> <img class="item-img" src="images/Slider/sld3.jpg" alt="img"></span><span class="item-name">delenit augue duis dolore</span><span class="price">$ 120</span><i class="fa fa-chevron-down"></i></a></div>
                                  </article>
                                  <article>
                                    <div class="item" style="width:160px;"> <a> <span class="item-carousel-thumb" style="height:160px;"> <img class="item-img" src="images/Slider/bgsew.jpg" alt="img"></span><span class="item-name"> te feugait nulla facilisi </span> <span class="price"> $ 251 </span> <i class="fa fa-chevron-down"></i> </a></div>
                                  </article>
                                </div>
                            </div>
                          </div> -->

                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="title-2">
                                    Found {{totalCount}} Restaurants
                                    <a class="pull-right" href="#product-slider" data-slide="prev"><i class="icon-right-open-big"></i></a>
                                    <a class="pull-right" href="#product-slider" data-slide="next"><i class="icon-left-open-big"></i></a>
                                </h2>
                            </div>
                        </div>

                        <div id="product-slider" class="carousel slide hidden-xs" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="row">
                                        <div class="col-sm-3" ng-repeat="restaurant in restaurantList">
                                            <a class="res-1" ng-click="showRestaurentDetail(restaurant)" onClick="showResDetail(this)">
                                                <div class="col-item">
                                                    <div class="photo">
                                                        <img src="images/Slider/res-icon.png" class="img-responsive" alt="a" />
                                                    </div>
                                                    <div class="info">
                                                        <div class="row">
                                                            <div class="price col-md-12 text-center">
                                                                <h5>
                                                                    {{restaurant.RestaurantName}}
                                                                </h5>
                                                                <h5 class="price-text-color">
                                                                    $199.99
                                                                </h5>
                                                                <i class="fa fa-chevron-down"></i>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix">
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="inner-box res-3" ng-show="isShowRestaurentDetail">
                            <div class="row">
                                <div class="col-md-4">
                                    <div id="container1">
                                        <div class="padded" md-whiteframe="7" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center" style="min-width:100%">
                                            <img src="images/Slider/sld3.jpg" alt="A image" />
                                        </div>
                                    </div>

                                    <h2>{{restaurantDetail.RestaurantName}}</h2>
                                    <p>
                                        {{restaurantDetail.Address1}} {{restaurantDetail.Address2}}{{restaurantDetail.City}}
                                        <br>
                                        Ph No. 20124574
                                        <br>
                                        <em>Estimated Delivery: {{restaurantDetail.DeliveryEstimate}}</em>
                                        <br>
                                        <h4>Review</h4>
                                        <uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
                                        <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>

                                        <pre style="margin:15px 0;">Rate: <b>{{rate}}</b> - Readonly is: <i>{{isReadonly}}</i> - Hovering over: <b>{{overStar || "none"}}</b></pre>

                                        <button type="button" class="btn btn-sm btn-danger" ng-click="rate = 0" ng-disabled="isReadonly">Clear</button>
                                        <button type="button" class="btn btn-sm btn-default" ng-click="isReadonly = ! isReadonly">Toggle Readonly</button>
                                        <hr />
                                    </p>
                                </div>
                                <div class="col-md-8">
                                    <md-content>
                                        <md-tabs md-dynamic-height md-border-bottom>
                                            <md-tab label="LUNCH">
                                                <md-content class="md-padding md-active">
                                                    <form class="form">
                                                        <ul class="list-unstyled">
                                                            <li>
                                                                <md-checkbox class="green">Chicken Dumplings</md-checkbox>
                                                            </li>
                                                            <li>
                                                                <small>Wheat dough, chicken, tomatoes, mozzarella cheese</small>
                                                            </li>
                                                            <li>
                                                                <md-input-container>
                                                                    <label>Quantity:</label>
                                                                    <md-select ng-model="size">
                                                                        <md-option value="1">1</md-option>
                                                                        <md-option value="2">2</md-option>
                                                                        <md-option value="3">3</md-option>
                                                                    </md-select>
                                                                </md-input-container>
                                                            </li>

                                                            <li><label>Special Instructions:</label></li>
                                                            <li><textarea name="text" class="form-control" id="detail"></textarea></li>
                                                            <li><md-button class="md-raised md-primary"><i class="fa fa-shopping-cart" style="width: 11.5px;height: 18px;margin: 0px 17px 0px 0px;"></i>Add To Cart</md-button></li>
                                                        </ul>
                                                    </form>
                                                </md-content>
                                            </md-tab>
                                            <md-tab label="FAVORITE FOOD">
                                                <md-content class="md-padding">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
                                                </md-content>
                                            </md-tab>
                                            <md-tab label="REVIEWS">
                                                <md-content class="md-padding">
                                                    <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                                                </md-content>
                                            </md-tab>
                                        </md-tabs>
                                    </md-content>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>