﻿<div class="footer" id="footer">
    <div class="container">
        <ul class="pull-left navbar-link footer-nav">
            <li>
                <a ui-sref="app.home"> Home </a>
            </li>
            <li>
                <a ui-sref="app.about"> About us </a>
            </li>
            <li>
                <a href="#">Terms and Conditions</a>
            </li>
            <li>
                <a href="#"> Privacy Policy </a>
            </li>
            <li>
                <a ui-sref="app.contact"> Contact us </a>
            </li>
            <li>
                <a href="#"> FAQ </a>
            </li>
        </ul>
        <ul class="pull-right navbar-link footer-nav footer-social">
            <li><a href="#"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a></li>
            <li><a href="#"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a></li>
            <li><a href="#"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a></li>
            <li><a href="#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a></li>
            <li> &copy; 2016 Churika</li>
        </ul>
    </div>
</div>

<ul id="menu" class="mfb-component--br mfb-zoomin" data-mfb-toggle="hover" ng-show="!hideCartIcon">
    <li class="mfb-component__wrap">
        <a class="mfb-component__button--child" id="cart_btn" data-mfb-label="Restaurant" ng-click="showTabDialog($event)" data-toggle="modal" data-target="#basicModal">
            <i class="fa fa-shopping-cart"></i>
            <div class="floating_ui_green" ng-show="cartCount">{{cartCount}}</div>
        </a>
    </li>
</ul>