﻿
<div class="main-container">
    <div class="container">
        <div class="row" style="min-height:460px">
            <div class="col-md-12">
                <div class="inner-box category-content">
                    <h2 class="title-2"><i class="icon-user-add"></i>Forgot password?</h2>
                    <div class="row">
                        <div class="col-sm-12">
                            <md-content layout-padding>
                                <form class="form-horizontal" name="form" ng-submit="submitEmail()" role="form" ng-hide="isSubmitted">
                                    <fieldset>
                                        <div class="col-md-4"></div>
                                        <md-input-container class="md-block required col-md-8" style="padding:0;" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
                                            <label for="email" style="left:0 !important;padding:0;"> Email Address</label>
                                            <div class="col-md-4" style="padding:0;">
                                                <input type="email" name="email" id="email" class="form-control" ng-model="userEmail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required />
                                                <p class="help-block" ng-show="form.email.$error.pattern">
                                                    <span class="help-block">characters followed by an @ sign, followed by more characters, and then a ".". After the "." sign, you can only write 2 to 3 letters from a to z</span>
                                                </p>
                                            </div>
                                            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
                                        </md-input-container>
                                        <div class="form-actions">
                                            <div class="col-sm-12">
                                                <div class="col-sm-4"></div>
                                                <div class="col-sm-3">
                                                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary p-l-sm">Submit Request</button>
                                                    <button ui-sref="app.home" class="btn btn-danger cancel_button" style="width: 45%;">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                                <p ng-show="isSubmitted">{{message}}</p>
                                <ul>
                                    <li ng-repeat="e in errors">{{e}}</li>
                                </ul>
                            </md-content>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class="col-md-6 col-md-offset-3">
    <h2>Forgot password?</h2>
    <form name="form" ng-submit="submitEmail()" role="form" ng-hide="isSubmitted">
        <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
            <label for="email"> Email Address</label>
            <input type="email" name="email" id="email" class="form-control" ng-model="userEmail" required />
            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary">Submit Request</button>
            <a href="#/" class="btn btn-link">Cancel</a>
        </div>
    </form>
    <p ng-show="isSubmitted">{{message}}</p>
    <ul>
        <li ng-repeat="e in errors">{{e}}</li>
    </ul>
</div>-->
