﻿<div ui-view="searchView"></div>
<div class="inner-box res-1 p-bottom"  ng-show="isSignedIn">
    <div class="container">
         <div class="restaurant_detail fade owl-fade-in">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="list-title"><strong>Recent Viewed Restaurants</strong></h5>
                    <div class="carousel">
                        <div class="row carousal_scroll">
                            <div class="content">
                                <div class="col-md-3 home_product product_item">
                                    <a class="res-1">
                                        <div class="col-item">
                                            <div class="photo">
                                                <img src="images/Slider/res-icon.png" class="img-responsive" alt="a" />
                                            </div>
                                            <div class="info">
                                                <div class="row">
                                                    <div class="price col-md-12 text-center">
                                                        <h5>
                                                            Hey pankay
                                                        </h5>                                                        
                                                    </div>
                                                </div>
                                                <div class="clearfix">
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3 home_product product_item">
                                    <a class="res-1">
                                        <div class="col-item">
                                            <div class="photo">
                                                <img src="images/Slider/res-icon.png" class="img-responsive" alt="a" />
                                            </div>
                                            <div class="info">
                                                <div class="row">
                                                    <div class="price col-md-12 text-center">
                                                        <h5>
                                                            Hey pankay
                                                        </h5>
                                                    </div>
                                                </div>
                                                <div class="clearfix">
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3 home_product product_item">
                                    <a class="res-1">
                                        <div class="col-item">
                                            <div class="photo">
                                                <img src="images/Slider/res-icon.png" class="img-responsive" alt="a" />
                                            </div>
                                            <div class="info">
                                                <div class="row">
                                                    <div class="price col-md-12 text-center">
                                                        <h5>
                                                            Hey pankay
                                                        </h5>
                                                    </div>
                                                </div>
                                                <div class="clearfix">
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3 home_product product_item">
                                    <a class="res-1">
                                        <div class="col-item">
                                            <div class="photo">
                                                <img src="images/Slider/res-icon.png" class="img-responsive" alt="a" />
                                            </div>
                                            <div class="info">
                                                <div class="row">
                                                    <div class="price col-md-12 text-center">
                                                        <h5>
                                                            Hey pankay
                                                        </h5>
                                                    </div>
                                                </div>
                                                <div class="clearfix">
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3 home_product product_item">
                                    <a class="res-1">
                                        <div class="col-item">
                                            <div class="photo">
                                                <img src="images/Slider/res-icon.png" class="img-responsive" alt="a" />
                                            </div>
                                            <div class="info">
                                                <div class="row">
                                                    <div class="price col-md-12 text-center">
                                                        <h5>
                                                            Hey pankay
                                                        </h5>
                                                    </div>
                                                </div>
                                                <div class="clearfix">
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>
<div class="inner-box res-1 p-bottom">
    <div class="container">
        <div class="restaurant_detail fade owl-fade-in">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="list-title"><strong>Most Reviewed Restaurants</strong></h5>
                    <div class="carousel">
                        <div class="row carousal_scroll">
                            <div class="content">
                                <div class="col-md-3 home_product product_item">
                                    <a class="res-1">
                                        <div class="col-item">
                                            <div class="photo">
                                                <img src="images/Slider/res-icon.png" class="img-responsive" alt="a" />
                                            </div>
                                            <div class="info">
                                                <div class="row">
                                                    <div class="price col-md-12 text-center">
                                                        <h5>
                                                            Hey pankay
                                                        </h5>
                                                    </div>
                                                </div>
                                                <div class="clearfix">
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3 home_product product_item">
                                    <a class="res-1">
                                        <div class="col-item">
                                            <div class="photo">
                                                <img src="images/Slider/res-icon.png" class="img-responsive" alt="a" />
                                            </div>
                                            <div class="info">
                                                <div class="row">
                                                    <div class="price col-md-12 text-center">
                                                        <h5>
                                                            Hey pankay
                                                        </h5>
                                                    </div>
                                                </div>
                                                <div class="clearfix">
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3 home_product product_item">
                                    <a class="res-1">
                                        <div class="col-item">
                                            <div class="photo">
                                                <img src="images/Slider/res-icon.png" class="img-responsive" alt="a" />
                                            </div>
                                            <div class="info">
                                                <div class="row">
                                                    <div class="price col-md-12 text-center">
                                                        <h5>
                                                            Hey pankay
                                                        </h5>
                                                    </div>
                                                </div>
                                                <div class="clearfix">
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3 home_product product_item">
                                    <a class="res-1">
                                        <div class="col-item">
                                            <div class="photo">
                                                <img src="images/Slider/res-icon.png" class="img-responsive" alt="a" />
                                            </div>
                                            <div class="info">
                                                <div class="row">
                                                    <div class="price col-md-12 text-center">
                                                        <h5>
                                                            Hey pankay
                                                        </h5>
                                                    </div>
                                                </div>
                                                <div class="clearfix">
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3 home_product product_item">
                                    <a class="res-1">
                                        <div class="col-item">
                                            <div class="photo">
                                                <img src="images/Slider/res-icon.png" class="img-responsive" alt="a" />
                                            </div>
                                            <div class="info">
                                                <div class="row">
                                                    <div class="price col-md-12 text-center">
                                                        <h5>
                                                            Hey pankay
                                                        </h5>
                                                    </div>
                                                </div>
                                                <div class="clearfix">
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="inner-box relative" ng-hide="isSignedIn">
    <div class="col-12">
        <h3 class="title-2"><i class="icon-location-2"></i> HOW IT WORK </h3>
        <div class="row">
            <div class="col-sm-4 xs-gap">
                <div class="inner">
                    <p>
                        1. Lorem ipsum dolor sit omet,consectetur
                        adipisicing elit, sed do eiusmod tempor
                        inciddunt ut labore et dolore magna aliqua. Ut
                        enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliauia ex
                    </p>
                </div>
            </div>
            <div class="col-sm-4 xs-gap">
                <div class="inner">
                    <p>
                        2. Lorem ipsum dolor sit omet,consectetur
                        adipisicing elit, sed do eiusmod tempor
                        inciddunt ut labore et dolore magna aliqua. Ut
                        enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliauia ex.
                    </p>
                </div>
            </div>
            <div class="col-sm-4 xs-gap">
                <div class="inner">
                    <p>
                        3. Lorem ipsum dolor sit omet,consectetur
                        adipisicing elit, sed do eiusmod tempor
                        inciddunt ut labore et dolore magna aliqua. Ut
                        enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliauia ex.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>