﻿<md-dialog aria-label="Cart">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Food Item</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <i class="fa fa-close f-20"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <md-content layout-padding>
            <form name="addCart">
                <fieldset class="m-b-md">
                    <div class="row">
                        <div class="col-sm-6 p-l-none">
                            <label class="control-label text-left col-xs-12 p-l-0"><span class="col-md-5">Food Name :</span>  <span class="col-md-7">{{item.name}}</span></label>

                            <label class="control-label text-left col-xs-12 p-l-0"><span class="col-md-5">Price :</span>  <span class="col-md-7">{{itemPrice | currency}}</span></label>

                            <label class="control-label text-left col-xs-12 p-l-0" ng-show="item.Description"><span class="col-md-5">Description :</span>  <span class="col-md-7">{{item.Description}}</span></label>
                            <div class="col-xs-12">
                                <label class="control-label text-left col-md-5 p-l-0">Quantity :</label>
                                <div class="col-md-3 p-l-none">
                                    <input id="item-qty" type="number" ng-required="true" name="firstName" class="form-control input-md" ng-model="quantity" min="1" max="99" ng-pattern="/^[0-9]{1,2}$/" ng-change="changeQuantity(item.Id, quantity)" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 m-t-sm" ng-repeat="menuCategory in item.menu_option_categories" ng-show="item.menu_option_categories.length > 0">
                            <div class="panel panel-warning">
                                <div class="panel-heading" style="min-height:60px">
                                    {{menuCategory.name}}
                                    <p class="font-bold" ng-if="menuCategory.isRequired && menuCategory.minOption == 1 && menuCategory.maxOption == 1">Required - Choose 1.</p>
                                    <p class="font-bold" ng-if="menuCategory.minOption == 0 && (menuCategory.maxOption == 1 || menuCategory.maxOption == 0)">Optional</p>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div ng-if="menuCategory.minOption == 1 && menuCategory.maxOption == 1">
                                            <md-radio-group ng-model="option[$index].menuId[0]" ng-required="menuCategory.isRequired">
                                                <div class="col-sm-4" ng-repeat="menuOption in menuCategory.menu_options">
                                                    <md-radio-button ng-click="option[$parent.$index].categoryId = menuCategory.id ;optionSelected()" value="{{menuOption.id}},{{$index}}"><b>{{menuOption.name}}</b><span ng-if="menuOption.option_price > 0 "> ( {{menuOption.option_price | currency}} ) </span> <span ng-bind="findFreeMenu(menuOption)" class="text-danger"></span></md-radio-button>
                                                </div>
                                            </md-radio-group>
                                        </div>
                                        <div ng-if="menuCategory.minOption == 0 && (menuCategory.maxOption == 1 || menuCategory.maxOption == 0)">
                                            <div class="col-sm-4" ng-repeat="menuOption in menuCategory.menu_options">
                                                <md-checkbox class="green" ng-model="option[$parent.$index].menuId[$index]" value="{{menuOption.id}}" ng-click="option[$parent.$index].categoryId = menuCategory.id ; optionSelected()"><b>{{menuOption.name}}</b><span ng-if="menuOption.option_price > 0 "> ( {{menuOption.option_price | currency}} ) </span> <span ng-bind="findFreeMenu(menuOption)" class="text-danger">FREE</span></md-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 m-t-sm">
                            <md-input-container class="md-block">
                                <label class="select_item_qt">Special Instructions</label>
                                <div class="col-md-12">
                                    <textarea ng-model="instructions" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                </fieldset>
                <md-button class="md-raised md-warn md-button md_bottom addtocart_btn" ng-click="addToBag()" ng-disabled="addCart.$invalid"><i class="fa fa-shopping-cart"></i>Add To Cart - {{itemPrice | currency}}</md-button>
                <md-button class="md-raised md-warn md-button md_bottom cancel_btn" ng-click="cancel()">cancel</md-button>
                <span class="fa fa-stack fa-1x" ng-show="isAdded">
                    <i class="fa fa-circle fa-stack-2x text-success"></i>
                    <i class="fa text-white fa-stack-1x fa-check"></i>
                </span>
                <strong ng-show="isAdded">Added successfully.</strong>


            </form>
        </md-content>
    </md-dialog-content>

</md-dialog>


<!--<div class="modal-header">
    <h3 class="modal-title">Select Item!</h3>
</div>
<div class="modal-body">
    <p>{{item.Name}}</p>
    <h3>{{itemPrice | currency}}</h3>
    <p>{{item.Description}}</p>
    <label for="item-qty">Quantity</label>
    <input class="form-control" id="item-qty" type="number" ng-model="quantity" min="1" max="99" ng-pattern="/^[0-9]{1,2}$/" ng-change="changeQuantity(item.Id, quantity)">
    <label for="comment">Special Instructions</label>
    <textarea class="form-control" rows="5" id="comment" ng-model="instructions"></textarea>


</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="addToBag()">Add to Bag</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>-->
<!-- Selected: <b>{{ selected.item }}</b>-->
