﻿<div class="header">
    <nav class="navbar navbar-site navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ui-sref="app.home" class="navbar-brand logo">CHU<span>RIKA   </span> </a>
        </div>
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="isSignedIn"><a href="#" ng-click="$event.preventDefault();login()">Login</a></li>
                <li ng-hide="isSignedIn"><a ui-sref="app.register">Sign up</a></li>
                <li ng-show="isSignedIn" class="dropdown account dropdown" uib-dropdown is-open="false">
                    <a href="#" uib-dropdown-toggle class="no-padding">
                        <span class="font-normal p-l-sm p-r-sm text-capitalize">                            
                            Hello {{profileName}}
                        </span>
                        <img ng-if="!picture" src="/images/user.gif" height="40" width="40" style="border-radius: 40px;" />
                        <img ng-if="picture" ng-src="{{picture}}" height="40" width="40" style="border-radius: 40px;" />
                        <span class="caret m-r-xs"></span>
                    </a>
                    <ul class="dropdown-menu m-l-sm" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li><a ui-sref="app.profile">Your Account</a></li>
                        <li><a class="cursor-pointer" ui-sref="app.order">Your Order</a></li>
                        <li ng-show="isSignedIn"><a href="#" ng-click="$event.preventDefault();logout()">Log Out</a></li>
                        <li ng-show="isSignedIn"><a ui-sref="app.changePassword">Change Password</a></li>
                        <li ng-show="isSignedIn">
                            <a class="cursor-pointer" ng-click="cartClick()"><span class="glyphicon glyphicon-shopping-cart"></span> {{cartItemsCount}} - Items</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>
