﻿<div class="col-md-4 sidebar_filter order-view">
    <aside>
        <div class="inner-box order_detailpage">
            <h2 class="list-title title"><strong class="left"><a href="#">Your Order</a></strong></h2>
            <ul class="order_list">
                <li>
                    <b>Order Form</b>
                    <span>{{cartDetails.Restaurant.Name}}</span>
                </li>
                <li>
                    <b>Deliver to</b>
                    <span>W 96th Terrace, Lenexa, KS 66215, USA</span>
                </li>
                <li>
                    <b>Deliver it</b>
                    <span>W 96th Terrace, Lenexa, KS 66215, USA</span>
                </li>
            </ul>
            <div class="item_info">
                <ul class="subtotal">
                    <li ng-repeat="item in cartDetails.CartItems">
                        <span class="item_quantity">{{item.Quantity}}</span>
                        <span class="font-bold item_detail">{{item.Name}}</span>
                        <span class="m-l-sm">{{item.Price | currency}}</span>
                    </li>
                    <li class="clearfix">
                        <span class="left">Items Subtotal</span>
                        <span class="right">{{cartDetails.Charge.ItemSubTotal | currency}}</span>
                    </li>
                    <li class="clearfix" ng-if="cartDetails.Charge.DeliveryFee">
                        <span class="left">Delivery Fee</span>
                        <span class="right">{{cartDetails.Charge.DeliveryFee | currency}}</span>
                    </li>
                    <li class="clearfix" ng-if="cartDetails.Charge.SalesTax">
                        <span class="left">Sales Tax</span>
                        <span class="right">{{cartDetails.Charge.SalesTax | currency}}</span>
                    </li>
                    <li class="clearfix total">
                        <span class="left font-bold">Total</span>
                        <span class="right font-bold">{{cartDetails.Charge.Total | currency}}</span>
                    </li>
                </ul>                
            </div>
        </div>
    </aside>
</div>