﻿<div class="main-container">
    <div class="inner-box category-content clearfix" style="background:#faebd7;">

        <div class="col-sm-8 order_page">
            <h2 class="title-2">Order Confirmation</h2>
            <h4>Happy Eating</h4>
            <p>Estimated pick-up time:&nbsp; 09:15 PM Get</p>
            <p><strong>Direction:</strong><br />Have your phone handy in case we need to contact you.
            </p>
            <a href="#" class="btn btn-danger w-full">Share the grab now & get $5 off.</a>
            <div class="img-thumbnails">
                <img src="../../images/yummy.png" class="w-xsm" alt="" />
                <h3>Pick A Card</h3>
                <p>One of these four cards is hiding a delicious prize. you could even win free food for a year.</p>
                <img src="../../images/1.png" class="w-440" alt="" />
            </div>
            <form name="checkoutForm" stripe-form="handleStripe" data-abide></form>
        </div>
        <div class="col-md-4 sidebar_filter order-view">
            <aside>
                <div class="inner-box order_detailpage">
                    <h2 class="list-title title"><strong class="left"><a href="#">Your Order</a></strong></h2>
                    <ul class="order_list">
                        <li>
                            <b>Order Form</b>
                            <span>Restaurant Name</span>
                        </li>
                        <li>
                            <b>Deliver to</b>
                            <span>{{orderDetail.AddressInfo.Address1}} {{orderDetail.AddressInfo.Address2}} {{orderDetail.AddressInfo.City}}  {{orderDetail.AddressInfo.StateCode}} {{orderDetail.AddressInfo.PostalCode}}</span>
                            <p>{{orderDetail.AddressInfo.PhoneNumber}}</p>
                        </li>
                        <li>
                            <b>Deliver it</b>
                            <span>W 96th Terrace, Lenexa, KS 66215, USA</span>
                        </li>
                    </ul>
                    <!--<div class="item_info">
                        <ul class="subtotal">
                            <li ng-repeat="item in cartDetails.CartItems">
                                <span class="item_quantity">{{item.Quantity}}</span>
                                <span class="font-bold item_detail">{{item.Name}}</span>
                                <span class="m-l-sm">{{item.Price | currency}}</span>
                            </li>
                        </ul>
                    </div>-->
                <div class="item_info">
                        <ul class="subtotal">
                            <li>
                                <span class="font-bold item_detail">SubTotal</span>
                                <span class="m-l-sm">{{orderDetail.OrderBilling.OrderPrice | currency}}</span>
                            </li>
                            <li>
                                <span class="font-bold item_detail">Tax</span>
                                <span class="m-l-sm">{{orderDetail.OrderBilling.SalesTax | currency}}</span>
                            </li>
                            <li>
                                <span class="font-bold item_detail">Shipping</span>
                                <span class="m-l-sm">{{orderDetail.OrderBilling.ShippingPrice | currency}}</span>
                            </li>
                            <li>
                                <span class="font-bold item_detail">Total</span>
                                <span class="m-l-sm">{{orderDetail.OrderBilling.ShippingPrice + orderDetail.OrderBilling.SalesTax + orderDetail.OrderBilling.OrderPrice | currency}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>