﻿
<div class="main-container">
    <div class="inner-box category-content clearfix">
        <div class="col-md-8">
            <h2 class="title-2">Payment Information</h2>
            <form name="checkoutForm" stripe-form="handleStripe" data-abide>
                <div ng-if="processing" us-spinner></div>
                <fieldset>
                    <div class="row">
                        <div class="col-md-4" ng-class="{error: checkoutForm.number.$invalid}">
                            <md-input-container class="md-block required">
                                <label>Card Information</label>
                                <input ng-model="number" name="number" payments-format="card" payments-validate="card" type="text" required />
                                <small class="error text-danger" ng-show="checkoutForm.number.$invalid">Invalid card number</small>
                            </md-input-container>
                        </div>
                        <div class="col-md-4" ng-class="{error: checkoutForm.expiry.$invalid}">
                            <md-input-container class="md-block required">
                                <label>Expiry</label>
                                <!--<md-datepicker ng-model="expiry" name="expiry" payments-format="expiry" payments-validate="expiry" md-placeholder="Expiry" required></md-datepicker>-->
                                <input ng-model="expiry" name="expiry" payments-format="expiry" pattern="[0-9/ ]{7}" type="text" required />
                                <small class="error text-danger" ng-show="checkoutForm.expiry.$invalid">Invalid date.</small>
                            </md-input-container>
                        </div>
                        <div class="col-md-4" ng-class="{error: checkoutForm.cvc.$invalid}">
                            <md-input-container class="md-block required">
                                <label>CVC</label>
                                <input ng-model="cvc" name="cvc" payments-format="cvc" payments-validate="cvc" type="text" required />
                                <small class="error text-danger" ng-show="checkoutForm.cvc.$invalid">Invalid CVC.</small>
                            </md-input-container>
                        </div>
                        <div class="col-md-12 clearfix">
                            <div class="right">
                                <md-button type="submit" class="md-raised min-w-xsm md-warn md-button pull-left" ng-disabled="checkoutForm.$invalid">Place Order</md-button>
                                <md-button class="md-raised md-warn min-w-xsm md-button cancel_btn" ui-sref="app.checkout.delivery">Cancel</md-button>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <alert ng-if="stripeError" type="'alert'" close="hideAlerts()">
                    Stripe returned an error: {{stripeError}}
                </alert>

                <alert ng-if="stripeToken" close="hideAlerts()">
                    Stripe successfully acquired! Token: {{stripeToken}}
                </alert>
            </form>
        </div>
        <div ui-view="orderView"></div>
    </div>

</div>

<!--<form stripe-form="stripeCallback">
    <input ng-model="number" placeholder="Card Number" />
    <input ng-model="expiry" placeholder="Expiration" />
    <input ng-model="cvc" placeholder="CVC" />
    <button type="submit">Submit</button>
</form>-->
