﻿
<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-box category-content">
                    <h2 class="title-2"><i class="icon-user-add"></i> Create your account </h2>
                    <div class="row">
                        <!--<div class="col-sm-12">
                                                    <md-content layout-padding>
                                                        <form class="form-horizontal" name="form" ng-submit="register()" role="form">
                                                            <fieldset>
                                                                <div class="form-group required" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
                                                                    <label class="col-md-4 control-label">First Name <sup>*</sup></label>
                                                                    <div class="col-md-3">
                                                                        <input type="text" name="firstName" id="firstName" class="form-control input-md" ng-model="newUser.firstName" required />
                                                                    </div>
                                                                    <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
                                                                    <div class="line">OR</div>
                                                                    <div class="col-md-3 fb-sign-up">
                                                                        <a class="btn btn-block btn-social btn-facebook text-center">
                                                                            <span class="fa fa-facebook"></span> Sign Up  with Facebook
                                                                        </a>
                                                                    </div>

                                                                </div>

                                                                <div class="form-group required" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
                                                                    <label class="col-md-4 control-label">Last Name <sup>*</sup></label>
                                                                    <div class="col-md-3">
                                                                        <input type="text" name="lastName" id="lastName" class="form-control input-md" ng-model="newUser.lastName" required />
                                                                    </div>
                                                                    <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>
                                                                    <div class="col-md-3 fb-sign-up">
                                                                        <a class="btn btn-block btn-social btn-google text-center">
                                                                            <span class="fa fa-google"></span> Sign Up with Google
                                                                        </a>
                                                                    </div>

                                                                </div>

                                                                <div class="form-group required" ng-class="{ 'has-error': (form.email.$dirty && form.email.$error.required) || form.email.$error.pattern }">
                                                                    <label for="inputEmail3" class="col-md-4 control-label">
                                                                        Email
                                                                        <sup>*</sup>
                                                                    </label>
                                                                    <div class="col-md-3">
                                                                        <input type="email" name="email" id="email" class="form-control" ng-model="newUser.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required />
                                                                        <p class="help-block" ng-show="form.email.$error.pattern">
                                                                            <span class="help-block">characters followed by an @ sign, followed by more characters, and then a ".". After the "." sign, you can only write 2 to 3 letters from a to z</span>
                                                                        </p>
                                                                    </div>
                                                                    <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>

                                                                </div>

                                                                <div class="form-group required" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                                                                    <label for="inputPassword3" class="col-md-4 control-label">Password </label>
                                                                    <div class="col-md-3">
                                                                        <input type="password" name="password" id="password" class="form-control" ng-model="newUser.password" required />
                                                                        <p class="help-block">
                                                                            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                                                                        </p>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group required" ng-class="{ 'has-error': form.confirmPassword.$dirty && form.confirmPassword.$error.required }">
                                                                    <label for="inputPassword3" class="col-md-4 control-label">Confirm Password </label>
                                                                    <div class="col-md-3">
                                                                        <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" ng-model="newUser.confirmPassword" required />
                                                                        <p class="help-block">
                                                                            <span ng-show="form.confirmPassword.$dirty && form.confirmPassword.$error.required" class="help-block">Confirm Password is required</span>
                                                                        </p>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="inputPassword3" class="col-md-4 control-label">&nbsp;</label>
                                                                    <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-success m-t-sm m-l-md btn-sm min-w-xsm">Register</button>
                                                                    <a href="#/" class="btn btn-danger btn-sm min-w-xsm w-12">Cancel</a>
                                                                </div>

                                                            </fieldset>
                                                        </form>
                                                        <ul>
                                                            <li ng-repeat="e in errors">{{e}}</li>
                                                        </ul>
                                                    </md-content>
                        </div>-->
                        <div class="col-sm-12">
                            <md-content layout-padding>
                                <form class="form-horizontal sign_up_page" name="form" ng-submit="register()" role="form">
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-md-3"></div>
                                            <md-input-container class="md-block required col-md-8 sign_up_md_block" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
                                                <label class="no-padder">First Name</label>
                                                <div class="col-md-5 col-xs-5 sign_up_md_block first_name">
                                                    <input type="text" name="firstName" id="firstName" class="input-md" ng-model="newUser.firstName" required />
                                                    <p class="help-block" ng-show="form.email.$error">
                                                        <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
                                                    </p>
                                                </div>
                                                <div class="lines">OR</div>
                                                <div class="col-md-4 col-xs-6 fb-sign-up">
                                                    <a class="btn btn-block btn-social btn-facebook text-center">
                                                        <span class="fa fa-facebook"></span> Sign Up  with Facebook
                                                    </a>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3"></div>
                                            <md-input-container class="md-block required col-md-8 sign_up_md_block" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
                                                <label class="no-padder">Last Name</label>
                                                <div class="col-md-5 col-xs-5 sign_up_md_block last_name">
                                                    <input type="text" name="lastName" id="lastName" class="input-md" ng-model="newUser.lastName" required />
                                                    <p class="help-block" ng-show="form.email.$error">
                                                        <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>
                                                    </p>
                                                </div>
                                                <div class="col-md-4 col-xs-6 fb-sign-up">
                                                    <a class="btn btn-block btn-social btn-google text-center">
                                                        <span class="fa fa-google"></span> Sign Up with Google
                                                    </a>
                                                </div>
                                            </md-input-container>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3"></div>
                                            <md-input-container class="md-block required col-md-8 sign_up_md_block" ng-class="{ 'has-error': (form.email.$dirty && form.email.$error.required) || form.email.$error.pattern }">
                                                <label class="no-padder">Email</label>
                                                <div class="col-md-5 sign_up_md_block">
                                                    <input type="email" name="email" id="email" ng-model="newUser.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required />
                                                    <p class="help-block" ng-show="form.email.$error">
                                                        <span class="help-block" ng-show="form.email.$error.pattern">characters followed by an @ sign, followed by more characters, and then a ".". After the "." sign, you can only write 2 to 3 letters from a to z</span>
                                                        <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
                                                    </p>
                                                </div>


                                            </md-input-container>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3"></div>
                                            <md-input-container class="md-block required col-md-8 sign_up_md_block" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                                                <label class="no-padder">Password </label>
                                                <div class="col-md-5 sign_up_md_block">
                                                    <input type="password" name="password" id="password" ng-model="newUser.password" required />
                                                    <p class="help-block">
                                                        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                                                    </p>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3"></div>
                                            <md-input-container class="md-block required col-md-8 sign_up_md_block" ng-class="{ 'has-error': form.confirmPassword.$dirty && form.confirmPassword.$error.required }">
                                                <label class="no-padder">Confirm Password </label>
                                                <div class="col-md-5 sign_up_md_block">
                                                    <input type="password" name="confirmPassword" id="confirmPassword" ng-model="newUser.confirmPassword" required />
                                                    <p class="help-block">
                                                        <span ng-show="form.confirmPassword.$dirty && form.confirmPassword.$error.required" class="help-block">Confirm Password is required</span>
                                                    </p>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <div class="row">
                                            <div class="lins">OR</div>
                                            <div class="col-md-6 fb_sign_up">
                                                <a class="btn btn-block btn-social btn-facebook text-center">
                                                    <span class="fa fa-facebook"></span> Sign Up  with Facebook
                                                </a>
                                            </div>
                                            <div class="col-md-6 fb_sign_up">
                                                <a class="btn btn-block btn-social btn-google text-center">
                                                    <span class="fa fa-google"></span> Sign Up with Google
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">                                            
                                            <div class="col-sm-3 col-md-offset-3 p-l-none">                                                
                                                <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-success btn-sm min-w-xsm">Register</button>
                                                <a ui-sref="app.home" class="btn btn-danger btn-sm min-w-xsm w-12 signup_cancel">Cancel</a>
                                            </div>
                                        </div>

                                    </fieldset>
                                </form>
                                <ul>
                                    <li ng-repeat="e in errors">{{e}}</li>
                                </ul>
                            </md-content>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



