﻿<div class="col-md-6 col-md-offset-3">
    <h2>Reset your password</h2>
    <form name="form" ng-submit="resetPwd()" role="form" ng-hide="isUpdated">
        <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control" ng-model="user.email" required />
            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.newPassword.$dirty && form.newPassword.$error.required }">
            <label for="newPassword">New Password</label>
            <input type="password" name="newPassword" id="newPassword" class="form-control" ng-model="user.newPassword" required />
            <span ng-show="form.newPassword.$dirty && form.newPassword.$error.required" class="help-block">New Password is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.confirmNewPassword.$dirty && form.confirmNewPassword.$error.required }">
            <label for="confirmNewPassword">Confirm New Password</label>
            <input type="password" name="confirmNewPassword" id="confirmNewPassword" class="form-control" ng-model="user.confirmNewPassword" required />
            <span ng-show="form.confirmNewPassword.$dirty && form.confirmNewPassword.$error.required" class="help-block">Confirm NewPassword is required</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Update Password</button>
            <a href="#/" class="btn btn-link">Cancel</a>
        </div>
    </form>
    <ul>
        <li ng-repeat="e in errors">{{e}}</li>
    </ul>
    <p ng-show="isUpdated">{{response}}</p>
</div>
