﻿<div ui-view="searchView"></div>
<div class="inner-box relative">
    <div class="row">
        <div class="col-md-12 no_restaurent" ng-if="restaurantList.length == 0">
            <p class="no_result">coming soon</p>
            <p class="area">To Your Area</p>
        </div>

        <div class="col-md-12"  ng-show="restaurantList.length > 0">
            <flex-slider class="carousel" slide="s in slides track by $index" animation="slide" item-width="210" item-margin="6">
                <li>
                    <a class="cursor-pointer" ng-click="getRestaurantByType(s.text)"> <img ng-src="{{s.img}}"><h4 class="text-center">{{s.text}}</h4></a>
                </li>
                <li>
                    <a class="cursor-pointer" ng-click="getRestaurantByType(s.text)"> <img src="http://flexslider.woothemes.com/images/kitchen_adventurer_cheesecake_brownie.jpg"><h4 class="text-center">{{s.text}}</h4></a>
                </li>
            </flex-slider>
        </div>
        <div class="col-md-3 sidebar_filter" ng-show="restaurantList.length > 0">
            <aside>
                <div class="inner-box">
                    <div class="list-filter">
                        <h5 class="list-title"><strong class="left">Food</strong><button class="right">Clear</button></h5>
                        <div class="filter-content filter-employment-type">
                            <input type="search" class="form-control search_item" placeholder="Search Here" />
                            <ul class="browse-list list-unstyled">
                                <md-radio-group ng-model="foodCategory" ng-click="getRestaurantByType(foodCategory);">
                                    <md-radio-button value="Noodles">Noodles</md-radio-button>
                                    <md-radio-button value="Samosa">Samosa</md-radio-button>
                                    <md-radio-button value="Pizza">Pizza</md-radio-button>
                                    <md-radio-button value="Indian">Indian</md-radio-button>
                                    <md-radio-button value="Itelian">Itelian</md-radio-button>
                                </md-radio-group>
                            </ul>
                        </div>
                    </div>

                    <div class="list-filter">
                        <h5 class="list-title"><strong class="left">Price Range</strong><button class="right">Clear</button></h5>
                        <div class="filter-salary filter-content ">
                            <form role="form" class="form-inline ">
                                <div class="form-group col-sm-4 no-padding">
                                    <input type="text" placeholder="$ 2000 " id="minPrice" class="form-control">
                                </div>
                                <div class="form-group col-sm-1 no-padding text-center hidden-xs"> -</div>
                                <div class="form-group col-sm-4 no-padding">
                                    <input type="text" placeholder="$ 3000 " id="maxPrice" class="form-control">
                                </div>
                                <div class="form-group col-sm-3 no-padding">
                                    <md-button class="md-raised md-primary min-w-70 background_color">GO</md-button>
                                </div>
                            </form>
                            <div class="clearfix"></div>
                            <ul class="mt15">
                                <md-radio-group ng-model="data.group1">
                                    <md-radio-button value="0">$20,000+</md-radio-button>
                                    <md-radio-button value="1"> $40,000+ </md-radio-button>
                                    <md-radio-button value="2">$60,000+</md-radio-button>
                                    <md-radio-button value="3">$80,000+</md-radio-button>
                                    <md-radio-button value="4">$120,000+</md-radio-button>
                                </md-radio-group>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="locations-list  list-filter">
                        <h5 class="list-title"><strong>Rating</strong></h5>
                        <ul class="browse-list list-unstyled long-list">
                            <li><uib-rating ng-model="restaurantDetail.Ratings" max="5" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating></li>
                        </ul>
                    </div>
                    <div class="locations-list  list-filter m-t-md">
                        <h5 class="list-title"><strong><a href="#">Category</a></strong></h5>
                        <ul class="browse-list list-unstyled long-list">
                            <li><a href="job-list.html">Fast Food</a></li>
                            <li><a href="job-list.html">Restaurant</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </aside>
        </div>
        <div class="col-md-9" ng-show="restaurantList.length > 0">
            <h5 class="list-title"><strong>Found {{totalCount}} Restaurants</strong></h5>
            <div class="carousel" ng-show="restaurantList.length > 0">
                <div class="row restaurantlist_scroll">
                    <div class="content">
                        <div class="col-sm-3 product_item" ng-repeat="restaurant in restaurantList">
                            <a class="res-1" ng-click="showRestaurentDetail(restaurant)">
                                <div class="col-item">
                                    <div class="photo">
                                        <img src="images/Slider/res-icon.png" ng-if="!restaurant.ImageUrl" class="img-responsive" alt="a" />
                                        <img ng-src="{{restaurant.ImageUrl}}" ng-if="restaurant.ImageUrl" class="img-responsive" alt="a" />
                                    </div>
                                    <div class="info">
                                        <div class="row">
                                            <div class="price col-md-12 text-center">
                                                <h5>
                                                    {{restaurant.RestaurantName}}
                                                </h5>
                                                <h5 class="price-text-color">
                                                    {{restaurant.City}}
                                                </h5>
                                                <uib-rating ng-model="restaurant.Ratings" max="5" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
                                                <p class="f-14">{{restaurant.DeliveryEstimate}}</p>
                                            </div>
                                        </div>
                                        <div class="clearfix">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="pull-right">
                            <button ng-hide="page == totalPages || totalCount == 0" class="btn btn-sm btn-warning" href="#" ng-click="loadMore()">Load More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--<div class="inner-box res-3" ng-show="isShowRestaurentDetail">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div id="container1">
                    <div class="padded" md-whiteframe="7" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center" style="min-width:100%">
                        <img src="images/Slider/sld3.jpg" alt="A image" />
                    </div>
                </div>

                <h2>{{restaurantDetail.RestaurantName}}</h2>
                <p>
                    {{restaurantDetail.Address1}} {{restaurantDetail.Address2}}{{restaurantDetail.StateCode}}{{restaurantDetail.City}} {{restaurantAddress.ZipCode}}
                    <br>
                    <span ng-show="restaurantAddress.Phone"> Ph No. {{restaurantAddress.Phone}} </span>
                    <br>
                    <em>Estimated Delivery: {{restaurantDetail.DeliveryEstimate}}</em>
                    <br>
                    <h4>Review</h4>
                    <uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
                    <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>

                </p>
            </div>
            <div class="col-md-8">
                <md-content>
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="LUNCH">
                            <md-content class="md-padding md-active">
                                <form class="form">
                                    <ul class="list-unstyled">
                                        <li ng-show="restaurantMenus">
                                            <h3>Menu</h3>
                                        </li>
                                        <li ng-repeat="restaurantMenu in restaurantMenus">
                                            <md-checkbox class="green">{{restaurantMenu.Name}}</md-checkbox>    ({{restaurantMenu.ItemPrice}})
                                            <br />
                                            <small>{{restaurantMenu.Description}}</small>
                                        </li>
                                        <li ng-show="restaurantDeserts">
                                            <h3>Desert</h3>
                                        </li>
                                        <li ng-repeat="restaurantDesert in restaurantDeserts">
                                            <md-checkbox class="green">{{restaurantDesert.Name}}</md-checkbox>    ({{restaurantDesert.ItemPrice}})
                                            <br />
                                            <small>{{restaurantDesert.Description}}</small>
                                        </li>

                                        <li>
                                            <md-input-container>
                                                <label>Quantity:</label>
                                                <md-select ng-model="size">
                                                    <md-option value="1">1</md-option>
                                                    <md-option value="2">2</md-option>
                                                    <md-option value="3">3</md-option>
                                                </md-select>
                                            </md-input-container>
                                        </li>

                                        <li><label>Special Instructions:</label></li>
                                        <li><textarea name="text" class="form-control" id="detail"></textarea></li>
                                        <li><md-button class="md-raised md-primary"><i class="fa fa-shopping-cart" style="width: 11.5px;height: 18px;margin: 0px 17px 0px 0px;"></i>Add To Cart</md-button></li>
                                    </ul>
                                </form>
                            </md-content>
                        </md-tab>
                        <md-tab label="FAVORITE FOOD">
                            <md-content class="md-padding">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
                            </md-content>
                        </md-tab>
                        <md-tab label="REVIEWS">
                            <md-content class="md-padding">
                                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>
        </div>
    </div>
</div>-->
