﻿<div class="inner-box res-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 restaurant_list_detail">
                <div id="container1">
                    <div class="padded" md-whiteframe="7" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center" style="min-width:100%">
                        <img ng-src="{{restaurantDetail.ImageUrl}}" ng-if="restaurantDetail.ImageUrl" alt="A image" />
                        <img src="images/Slider/res-icon.png" ng-if="!restaurantDetail.ImageUrl" alt="A image" />
                    </div>
                </div>

                <h2>{{restaurantDetail.RestaurantName}}</h2>

                <p>
                    {{restaurantDetail.Address1}} <br ng-if="restaurantDetail.Address2"> {{restaurantDetail.Address2}} {{restaurantDetail.StateCode}} {{restaurantDetail.City}} {{restaurantAddress.ZipCode}}
                    <span ng-show="restaurantDetail.Phone"> Ph No. {{restaurantDetail.Phone}} </span>
                    <br ng-if="restaurantDetail.Phone">
                <p>Estimated Delivery: {{restaurantDetail.DeliveryEstimate}}</p>
                <br>
                <h4>Review</h4>
                <uib-rating ng-model="restaurantDetail.Ratings" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
                <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>

                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 p-l-none">
                <md-content>
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="{{name}}" ng-repeat="(name, list) in menuItems">
                            <md-content class="md-padding md-active p-l-none">
                                <div class="category_name m-l-md">
                                    <h3>{{name}}</h3>
                                    <div class="row">
                                        <div class="col-md-6" ng-repeat="restItem in list">
                                            <div class="category_list" ng-click="open($event,restItem,isChecked)">
                                                <h4 ng-show="restItem.Name != null">{{restItem.Name}}</h4>
                                                <h6 class="price" ng-show="restItem.ItemPrice != null">{{restItem.ItemPrice | currency}}</h6>
                                                <p ng-show="restItem.Description">{{restItem.Description}}</p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </md-content>
                        </md-tab>
                        <md-tab label="FAVORITE FOOD">
                            <md-content class="md-padding">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
                            </md-content>
                        </md-tab>
                        <md-tab label="REVIEWS">
                            <md-content class="md-padding">
                                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                            </md-content>
                        </md-tab>

                    </md-tabs>
                </md-content>
            </div>
        </div>
    </div>
</div>