﻿<!--<form class="form" name="search">
    <input type="button" ng-click="accessUserLocation()" value="Allow Location" class="form-control" />
    <input class="form-control" name="mainSearch" g-places-autocomplete options="autocompleteOptions" force-selection="true" ng-model="place" required placeholder="Enter City,State or Zip" />
    <input type="text" ng-model="searchTerm" placeholder="Enter pizza or cuisine name" class="form-control" />

    <input type="submit" name="Search" class="form-control" ng-disabled="search.$invalid" ng-click="searchRest()" />
</form>

<pre>{{error}}</pre>

<div ng-messages="search.mainSearch.$error" style="color: maroon" role="alert" ng-if='search.mainSearch.$dirty'>
    <div ng-message="required">Location cannot be empty</div>
</div>-->
<!--<h5>Result:</h5>
<pre>{{place | json}}</pre>
<pre>{{searchTerm}}</pre>-->
<!--<div class="search-row-wrapper">
    <div class="row search-row animated fadeInUp">
        <div class="col-lg-3 col-sm-3 search-col">
            <div uib-dropdown is-open="false">
                <button id="single-button" type="button" class="btn btn-primary btn-search font-bold" uib-dropdown-toggle>
                    View Location <span class="caret"></span>
                </button>
                <ul class="dropdown-menu m-l-sm" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li role="menuitem"><a href="#">Action</a></li>
                    <li role="menuitem"><a href="#">Another action</a></li>
                    <li role="menuitem"><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li role="menuitem"><a href="#">Separated link</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-sm-3 search-col relative locationicon">
            <i class="icon-location-2 icon-append"></i>
            <input class="form-control locinput input-rel searchtag-input has-icon" name="mainSearch" g-places-autocomplete options="autocompleteOptions" force-selection="true" ng-model="place" required placeholder="Enter City,State or Zip" autocomplete="off" />
        </div>
        <div class="col-lg-3 col-sm-3 search-col relative">
            <i class="icon-docs icon-append"></i>
            <input type="text" ng-model="searchTerm" placeholder="Enter pizza or cuisine name" class="form-control has-icon" />
        </div>
        <div class="col-lg-3 col-sm-3 search-col">
            <button type="submit" name="Search" class="btn btn-primary btn-search btn-block" ng-disabled="search.$invalid" ng-click="searchRest()"><i class="icon-search"></i><strong>Find</strong></button>
        </div>
    </div>
</div>-->
<div class="search_here" ng-show="isFilterPage">
    <form ng-submit="searchRest()" name="search">
        <div class="col-md-6">
            <i class="fa fa-search"></i>
            <input class="search_restaurant" name="mainSearch" g-places-autocomplete options="autocompleteOptions" force-selection="true" ng-model="place" required placeholder="Enter City,State or Zip" autocomplete="off" />
        </div>
        <div class="col-md-5" style="border-left: 1px rgb(153, 149, 149) solid;">
            <i class="icon-docs icon-append"></i>
            <input class="search_restaurant m-l-n-xs" name="mainSearch" ng-model="searchTerm" placeholder="Pork Ribs, Sushi, Salad" autocomplete="off" />            
        </div>
        <div class="col-md-1 p-l-none p-r-none">
            <md-button id="search_button" type="submit" name="Search" class="md-raised md-primary find_btn" ng-disabled="search.$invalid"><i class="icon-search"></i><strong>Find</strong></md-button></div>
    </form>
</div>


<div class="row-xs" ng-show="!isFilterPage">
    <div class="intro clearfix">
        <div class="bg-orange warning-header" ng-show="error">{{error}}<a class="font-bold pull-right m-r-sm text-white" ng-click="close()">X</a></div>        
        <div ng-if='search.mainSearch.$dirty' class="bg-orange warning-header" ng-message="required" >
            Location cannot be empty <a class="font-bold text-white pull-right m-r-sm" ng-click="close()">X</a>
        </div>
        <div class="dtable hw100">
            <div class="dtable-cell hw100">
                <div class="container">
                    <form name="search">
                        <div class="row search-row animated fadeInUp">
                            <div class="col-lg-2 col-sm-2 search-col dropdown">                        
                                <div class="btn-group w-100"uib-dropdown is-open="status.isopen">
                                    <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled" dropdown-text-set>
                                        <span class="caret"></span>
                                        Delivery
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                                        <li role="menuitem" id="angular_menu_item">
                                            <a href="#">Asap</a>
                                            <a class="cursor-pointer" ng-click="showScheduleModal()">Schedule it!</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <div class="col-lg-4 col-sm-4 search-col relative locationicon m-l-n-sm">
                                <a class="cursor-pointer" ng-click="accessUserLocation()"><i class="icon-location-2 icon-append"></i></a>
                                <input class="form-control locinput input-rel searchtag-input has-icon" name="mainSearch" g-places-autocomplete options="autocompleteOptions" force-selection="true" ng-model="place" required placeholder="Enter City,State or Zip" autocomplete="off" />
                            </div>
                            <div class="col-lg-4 col-sm-4 search-col relative">
                                <i class="icon-docs icon-append"></i>
                                <input type="text" ng-model="searchTerm" placeholder="Pork Ribs, Sushi, Salad" class="form-control has-icon" />
                            </div>
                            <div class="col-lg-2 col-sm-2 search-col">
                                <md-button id="search_button" type="submit" name="Search" class="md-raised md-primary" ng-disabled="search.$invalid" ng-click="searchRest()"><i class="icon-search"></i><strong>Find</strong></md-button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
