﻿<md-dialog aria-label="alert">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{title}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <i class="fa fa-close" style="font-size:20px;"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <md-content layout-padding>
            <div class="text-center">
                <span class="fa fa-stack fa-2x" ng-show="type=='warning'">
                    <i class="fa fa-circle text-warning fa-stack-2x" style="color:yellow"></i>
                    <i class="fa fa-exclamation text-white fa-stack-1x"></i>
                </span>
                <span class="fa fa-stack fa-2x" ng-show="type=='success'" style="color:#fff;">
                    <i class="fa fa-circle fa-stack-2x text-success"></i>
                    <i class="fa text-white fa-stack-1x fa-check"></i>
                </span>
                <span class="fa fa-stack fa-2x" ng-show="type=='error'" style="color:#fff;">
                    <i class="fa fa-circle fa-stack-2x text-danger"></i>
                    <i class="fa fa-times fa-stack-1x"></i>
                </span>
                <p><b>{{message}}</b></p>
                <p></p>
            </div>
            <md-button class="btn btn-danger m-t-none col-sm-3" ng-if="showClearCart"
                       ng-click="clearItems()" style="background:#00e676"><i class="icon-trash icon-white" />clear cart</md-button>
            <md-button class="btn btn-danger m-t-none col-sm-3"
                       ng-click="clearItems()" ng-if="showClearCart"><i class="icon-trash icon-white"/>add new</md-button>
        </md-content>
    </md-dialog-content>
</md-dialog>