﻿<md-dialog aria-label="alert">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Schedule Time</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <i class="fa fa-close" style="font-size:20px;"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <md-content style="min-height:135px">
            <form ng-submit="searchRest()" class="form-horizontal">
                <fieldset>
                    <div class="row-xs m-t-lg">
                        <div class="col-md-4">                            
                            <md-datepicker ng-model="myDate" md-placeholder="From date"></md-datepicker>
                        </div>
                        <div class="col-sm-4">                            
                            <md-datepicker ng-model="myDate" md-placeholder="To date"></md-datepicker>
                        </div>
                        <div class="col-sm-4">                          
                            <md-button class="btn btn-danger btn-sm" ng-click="cancel()">Ok</md-button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </md-content>
    </md-dialog-content>
</md-dialog>