.pos-rlt{position: relative;}
.pos-stc{position: static;}
.pos-abt{position: absolute;}
.pos-fix{position: fixed;}

.line-xs{margin: 0}
.line-lg{margin-top:15px;margin-bottom: 15px}
.line-dashed{border-style: dashed !important;background-color: transparent;border-width:0;}
.no-line{border-width: 0}
.no-border, .no-borders{border-color:transparent;border-width:0}
.no-radius{border-radius: 0}
.block{display:block;}
.block.hide{display: none;}
.inline{display:inline-block !important;}
.none{display: none;}
.pull-none{float: none;}
.pull-right{float: right}
.pull-left{float: left}
.rounded{border-radius: 500px;}
.clear{display:block;overflow: hidden;}
.no-bg{background-color: transparent; color: inherit;}

.c-red{color:red}
.c-green{color:green}
.c-grey{color:grey}
.c-white{color:white}
.c-blue{color:blue}
.c-black{color:black}
.c-yellow{color:yellow}
.c-darkred{color:darkred}


.no-scroll{overflow:hidden !important;}

.no-l-border{border-left-color:transparent;border-left-width:0}
.no-r-border{border-right-color:transparent;border-right-width:0}

.l-h-1x{line-height: 1.2;}
.l-h-2x{line-height: 2em;}

.font-normal{font-weight: normal;}
.font-thin{font-weight: 300;}
.font-bold{font-weight: 700!important;}
.font-large {font-size: large;}
.text-3x{font-size: 3em;}
.text-2x{font-size: 2em;}
.text-xxs{text-indent: -9999px}
.text-ellipsis{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
.text-u-c{text-transform: uppercase;}
.text-capitalize{text-transform: capitalize;}
.text-l-t{text-decoration: line-through;}
.text-u-l{text-decoration: underline;}
.text-active, .active > .text, .active > .auto .text{display: none !important;}
.active > .text-active, .active > .auto .text-active{display: inline-block !important;}
.box-shadow{
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}
.box-shadow-lg{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
}
.no-shadow{
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.text-uc{text-transform: uppercase;}
.text-camo{color: #fff;}
/*semi-camouflage as background color only*/

.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right!important;}

.wrapper-xs{padding: 5px;}
.wrapper-sm{padding: 10px;}
/*.wrapper{padding: 15px;}*/
.wrapper-md{padding: 20px;}
.wrapper-lg{padding: 30px;}
.wrapper-xl{padding: 50px;}
.padder-lg{padding-left:30px;padding-right: 30px}
.padder-md{padding-left:20px;padding-right: 20px}
.padder{padding-left:15px;padding-right: 15px}
.padder-sm{padding-left:10px;padding-right: 10px}
.padder-v{padding-top:15px;padding-bottom: 15px}
.padder-v-sm{padding-top:10px!important;padding-bottom: 10px!important}
.padder-v-xs{padding-top:5px!important;padding-bottom: 5px!important}
.no-padder{padding: 0 !important;}
.pull-in{margin-left: -15px;margin-right: -15px;}
.pull-out{margin:-10px -15px;}

.b-l-2x{border-left-width: 2px}
.b-l-3x{border-left-width: 3px}
.b-l-4x{border-left-width: 4px}
.b-l-5x{border-left-width: 5px}

.b-2x{border-width: 2px}
.b-3x{border-width: 3px}
.b-4x{border-width: 4px}
.b-5x{border-width: 5px}

.m-xxs{margin: 2px 4px}
.m-xs{margin: 5px;}
.m-sm{margin: 10px;}
.m{margin: 15px;}
.m-md{margin: 20px;}
.m-lg{margin: 30px;}
.m-xl{margin: 50px;}
.m-n{margin: 0 !important}

.m-l-none{margin-left: 0!important}
.m-l-xs{margin-left: 5px;}
.m-l-xxs{margin-left: 1px;}
.m-l-xs-2{margin-left: 2px;}
.m-l-sm{margin-left: 10px;}
.m-l{margin-left: 15px}
.m-l-md{margin-left: 20px;}
.m-l-lg{margin-left: 30px;}
.m-l-xl{margin-left: 40px;}
.m-l-xxl{margin-left: 50px;}

.m-l-n-xxs{margin-left: -1px}
.m-l-n-xxs{margin-left: -2px}
.m-l-n-xs{margin-left: -5px}
.m-l-n-sm{margin-left: -10px}
.m-l-n{margin-left: -15px}
.m-l-n-md{margin-left: -20px}
.m-l-n-lg{margin-left: -30px}
.m-l-n-xl{margin-left: -40px}
.m-l-n-xxl{margin-left: -50px}

.m-t-none{margin-top:0}
.m-t-xxs{margin-top: 1px;}
.m-t-xs{margin-top: 5px;}
.m-t-sm{margin-top: 10px;}
.m-t{margin-top: 15px}
.m-t-md{margin-top: 20px;}
.m-t-lg{margin-top: 30px;}
.m-t-xl{margin-top: 40px;}
.m-t-xxl{margin-top: 50px;}

.m-t-n-xxs{margin-top: -1px}
.m-t-n-xs{margin-top: -5px}
.m-t-n-sm{margin-top: -10px}
.m-t-n{margin-top: -15px}
.m-t-n-md{margin-top: -20px}
.m-t-n-lg{margin-top: -30px}
.m-t-n-xl{margin-top: -40px}
.m-t-n-xxl{margin-top: -50px}

.m-r-none{margin-right: 0}
.m-r-xxs{margin-right: 1px}
.m-r-xs{margin-right: 5px}
.m-r-sm{margin-right: 10px}
.m-r{margin-right: 15px}
.m-r-md{margin-right: 20px}
.m-r-lg{margin-right: 30px}
.m-r-xl{margin-right: 40px}
.m-r-xxl{margin-right: 50px}

.m-r-n-xxs{margin-right: -1px}
.m-r-n-xs{margin-right: -5px}
.m-r-n-sm{margin-right: -10px}
.m-r-n{margin-right: -15px}
.m-r-n-md{margin-right: -20px}
.m-r-n-lg{margin-right: -30px}
.m-r-n-xl{margin-right: -40px}
.m-r-n-xxl{margin-right: -50px}

.m-b-none{margin-bottom: 0!important}
.m-b-xxs{margin-bottom: 1px;}
.m-b-xs{margin-bottom: 5px;}
.m-b-sm{margin-bottom: 10px;}
.m-b{margin-bottom: 15px;}
.m-b-md{margin-bottom: 20px;}
.m-b-lg{margin-bottom: 30px;}
.m-b-xl{margin-bottom: 40px;}
.m-b-xxl{margin-bottom: 50px;}

.m-b-n-xxs{margin-bottom: -1px}
.m-b-n-xs{margin-bottom: -5px}
.m-b-n-sm{margin-bottom: -10px}
.m-b-n{margin-bottom: -15px}
.m-b-n-md{margin-bottom: -20px}
.m-b-n-lg{margin-bottom: -30px}
.m-b-n-xl{margin-bottom: -40px}
.m-b-n-xxl{margin-bottom: -50px}

.p-tbl{padding: 6px !important;}
.p-l-sm{padding-left: 10px;}
.p-l-xs{padding-left: 5px !important;}
.p-l-xxs{padding-left: 1px;}
.p-l-lg{padding-left: 30px !important;}
.p-l-ex-lg{padding-left: 40px !important;}
.p-l-none{padding-left: 0px;}
.p-t-none{padding-top: 0px!important;}
.p-t-sm{padding-top: 10px;}
.p-t-xs{padding-top: 5px;}
.p-b-xs{padding-bottom:5px;}
.p-none{padding-left: 0px !important; padding-right: 0px !important;}
.p-r-xs{padding-right: 5px !important;}
.p-r-sm{padding-right: 10px !important;}
.p-r-xxs{padding-right: 1px;}
.p-r-xs-2{padding-right: 2px !important;}
.p-r-none{padding-right: 0px;}

.p-b-sm{padding-bottom: 10px;}
.p-b-xs{padding-bottom: 5px;}

.top-xs{top: 5px;}
.top-n-sm{top: -10px;}
.top-n-sm-7{top: -7px;}
.top- .avatar {
    position: relative;
    display: block;
    border-radius: 500px;
    white-space: nowrap;
}

.w-xxs{
    width: 60px;
}
.w-67{
    width: 67px;
}
.w-115{
    width: 115px;
}
.w-150 {
    width: 150px;
}
.w-xs{
    width: 90px;
}
.w-100{
    width: 100px;
}
.w-xsm{
    width: 120px;
}
.w{
    width: 200px;
}
.w-md{
    width: 240px;
}
.w-lg{
    width: 280px;
}
.w-xl{
    width: 320px;
}
.w-xxl{
    width: 360px;
}
.w-400{
    width: 400px;
}
.w-440{
    width:440px;
}
.w-500{
    width: 500px;
}
.w-full{
    width: 100%;
}
.w-95{
    width: 95%;
}
.w-33{
    width: 33%;
}
.w-50{
    width: 50%;
}

.w-32{
    width: 32%;
}
.w-15{
    width: 15%;
}
.w-12{
    width: 12%;
}
.w-auto{
    width: auto;
}
.h-auto{
    height: auto;
}
.h-full{
    height: 100%;
}

.min-w-70{
    min-width:70px!important;
}
.min-w-xs{
    min-width: 90px;
}
.min-w-xsm{
    min-width: 120px;
}
.min-w{
    min-width: 200px;
}
.min-w-md{
    min-width: 240px;
}
.min-w-lg{
    min-width: 280px;
}

.thumb-xl{width: 128px;display: inline-block}
.thumb-lg{width: 96px;display: inline-block}
.thumb-md{width: 64px;display: inline-block}
.thumb{width: 50px;display: inline-block}
.thumb-sm{width: 40px;display: inline-block}
.thumb-xs{width: 34px;display: inline-block}
.thumb-xxs{width: 30px;display: inline-block}

.scrollable{
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.cursor-pointer{
    cursor: pointer;
}
.scroll-x, .scroll-y{overflow:hidden;-webkit-overflow-scrolling:touch;}
.scroll-y{overflow-y:auto;}
.scroll-x{overflow-x:auto;}

.hover-action{
    display: none;
}
.opacity-full{
    opacity: 1;
}

.opacity-06{
    opacity: 0.6;
}
.bg-vl-grey{
      background-color: #EDF1F2!important;
    }
 .dialog-loading-wrapper {
            background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
            border: 0 none;
            height: 100px;
            left: 50%;
            margin-left: -50px;
            margin-top: -50px;
            position: fixed;
            top: 50%;
            width: 100px;
            z-index: 9999999;
        }

        .dialog-loading-icon {
            border-radius: 13px;
            display: block;
            height: 100px;
            line-height: 100px;
            margin: 0;
            padding: 1px;
            text-align: center;
            width: 100px;
        }

        hr {
            margin-top: 20px;
            margin-bottom: 20px;
            border-top: 6px solid #E1E7E9;
        }

        .form-control.ng-pristine.ng-invalid-required {
            border-color: #f05050;
        }

        .ng-invalid-date {
            border-color: #f05050 !important;
        }

        .ng-invalid {
            border-color: #f05050;
        }

 .clearable{
      background: #fff url(../Image/mJotv.gif) no-repeat right 5px center;
      padding: 3px 18px 3px 4px;     /* Use the same right padding (18) in jQ! */
      border-radius: 3px;
      transition: background 0.4s;
    }
    .clearable.x  { background-position: right 5px center; } /* (jQ) Show icon */
    .clearable.onX{ cursor: pointer;background-position: right 5px center; }              /* (jQ) hover cursor style */
    .clearable::-ms-clear {display: none; width:0; height:0;} /* Remove IE default X */