
body {
    background: whitesmoke;
}

header h1 {
    font-family: 'Droid Sans', sans-serif;
    font-size: 19px;
    padding: 0 30px;
    border-radius: 6px;
    margin-top: 150px;
}



.inner-container:before,
.inner-container:after {
    content: "";
    display: table;
}

.inner-container:after {
    clear: both;
}

.inner-container article {
    display: block;
    /* width: 180px;
  height: 220px;*/
    background: #fff;
    cursor: pointer;
    float: left;
    /* border: 10px solid white;*/
    text-align: left;
    text-transform: none;
    margin: 15px;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    box-shadow: 0px 0px 0px 10px rgba(255,255,255,1), 1px 1px 3px 10px rgba(0,0,0,0.2);
    -webkit-transition: opacity 0.4s linear, -webkit-transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.inner-container h3 {
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 400;
    color: rgba(0,0,0,1);
    text-shadow: 0px 0px 0px #000;
    opacity: 0.8;
}

.inner-container article p {
    font-family: Verdana, sans-serif;
    font-size: 11px;
    line-height: 18px;
    color: #333;
    text-shadow: 0px 0px 0px #000;
    opacity: 0.8;
}

.inner-container h3,
.inner-container article p {
    -webkit-transition: opacity 0.2s linear, text-shadow 0.5s ease-in-out, color 0.5s ease-in-out;
    -moz-transition: opacity 0.2s linear, text-shadow 0.5s ease-in-out, color 0.5s ease-in-out;
    -o-transition: opacity 0.2s linear, text-shadow 0.5s ease-in-out, color 0.5s ease-in-out;
    -ms-transition: opacity 0.2s linear, text-shadow 0.5s ease-in-out, color 0.5s ease-in-out;
    transition: opacity 0.2s linear, text-shadow 0.5s ease-in-out, color 0.5s ease-in-out;
}

.inner-container article.blur {
    box-shadow: 0px 0px 20px 10px #ddd;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.7;
}

    .inner-container article.blur h3 {
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
        color: rgba(0, 0, 0, 0) opacity : 0.5;
    }

    .inner-container article.blur p {
        text-shadow: 0px 0px 10px rgba(51,51,51, 0.9) color : rgba(51, 51, 51, 0);
        opacity: 0.5;
    }

.inner-container article.active {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 0px 0px 0px 10px rgba(255,255,255,1), 1px 11px 15px 10px rgba(0,0,0,0.4);
    z-index: 100;
    opacity: 1;
}

    .inner-container article.active h3,
    .inner-container article.active p {
        opacity: 1;
    }

article p.client-name {
    float: left;
    color: #99cc66;
    font-size: 12px;
    font-style: italic;
    margin-top: 30px;
}

.md-dialog-container {
    z-index: 100;
}

.md-focus > .md-calendar-date-selection-indicator {
    background-color: #00E676 !important;
    border: 1px solid #00E676 !important;
}

.cart_page .fa-close {
    font-size: 20px;
}

.sidebar_filter .list-title {
    padding-bottom: 30px;
}

.sidebar_filter .background_color {
    margin-top: 2px;
}

.background_color {
    background-color: #00e676 !important;
}

.locations-list .list-title {
    padding-bottom: 10px;
}

.restaurantlist_scroll {
    overflow-y: hidden;
    max-height: calc(85vh);
    padding: 0 15px;
}

.p-l-0 {
    padding-left: 0;
    line-height: 32px;
}

.addtocart_btn {
    background: #00E676 !important;
}

    .addtocart_btn i {
        width: 11.5px;
        height: 18px;
        margin: 0px 17px 0px 0px;
    }

.cancel_btn {
    background: #7c7c7c !important;
}

.fa fa-stack {
    color: #ffffff;
}

.shoping_icon {
    width: 11.5px;
    height: 18px;
    margin: 0px 17px 0px 0px;
}

.find_btn{
    line-height:46px !important;
    background-color:#f15d47 !important;
}

.no_restaurent{
    background:#20cbab;
    min-height:135px;
}
.order_page h4{
    font-size:30px;
    color:#ea2407;
}
.order_page p{
    font-size:18px;
}
.order_page .w-full{
    background:#690000;
    margin-top:10px;
    color:yellow !important;
}
.img-thumbnails img{
    display:block;
}
.order_page h3{
    text-align:center;
    font-size:28px;
    color:#ea2407;
    margin-top:15px;
}
.img-thumbnails p{
    display:block;
    width:46%;
    margin:0 auto;
}
