﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
    <link rel="stylesheet" href="~/scripts/angular-assets/angular-material.min.css">
    <link href="~/assets/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="~/Styles/custom.css" rel="stylesheet">
    <link href="~/assets/css/bootstrap-social.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/custom.css" rel="stylesheet">
    <link href="/assets/css/styles.css" type="text/css" rel="stylesheet">
    <link href="/assets/css/mfb.css" type="text/css" rel="stylesheet">
   
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>*@
</head>
<body ng-app="app">
    <div id="wrapper">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

    @Scripts.Render("~/bundles/angular")
    @Html.Action("Settings", "Home")
    @*<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.5/ui-bootstrap-tpls.js"></script>*@
    <script src="~/Client/js/angular/lib/angular-payments.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
    <script src="~/scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="~/scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js"></script>
    <script src="~/Client/js/angular/lib/angular-local-storage.js"></script>
    <script src="~/Client/js/angular/lib/oidc-token-manager.js"></script>

    <script src="//code.angularjs.org/1.5.0/angular-messages.min.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDYSgMHyNWuRF3_cycMWJjXB3zZdAhY9kM&libraries=places"></script>
    <script src="~/scripts/angular-assets/angular-animate.min.js"></script>
    <script src="~/scripts/angular-assets/angular-aria.min.js"></script>
    <script src="~/scripts/angular-assets/angular-material.min.js"></script>
    @Scripts.Render("~/bundles/angularModules")

    @Scripts.Render("~/bundles/directives")
    @*<script type="text/javascript" src="/assets/js/scripts.js"></script>*@
    @*<script src="/assets/js/owl.carousel.min.js"></script>
        <script src="/assets/js/jquery.matchHeight-min.js"></script>
        <script src="/assets/js/hideMaxListItem.js"></script>
        <script src="/assets/plugins/jquery.fs.scroller/jquery.fs.scroller.js"></script>
        <script src="/assets/plugins/jquery.fs.selecter/jquery.fs.selecter.js"></script>
        <script src="/assets/js/script.js"></script>
        <script src="~/Scripts/angular/lib/ngInfiniteScroll.js"></script>*@

    @RenderSection("scripts", required: false)
</body>
</html>
